<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>

    <link rel="stylesheet" href="{% static 'stylesheets/css/bootstrap.min.css' %}">
    <script src="{% static 'stylesheets/js/jquery.min.js' %}"></script>
    <script src="{% static 'stylesheets/js/popper.min.js' %}"></script>
    <script src="{% static 'stylesheets/js/bootstrap.min.js' %}"></script>

    <style>
        *{
            text-align: center;
        }
        .jumbotron{
            background-color: rgba(173, 216, 230, 0.836);
            width: 60%;
            margin-left: 20%;
        
        }
        .container{
            background-image: url("{% static '/images/bg-img.jpg' %}");
        }

        @media only screen and (max-width: 900px) {
            .jumbotron {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>
</head>
<body class="container">
    <div class="jumbotron">
        <form action="" method="POST">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            {% for field in form.visible_fields %}
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{ field.label }}:</span>
                </div>
                {{field}}
            </div>
            {% endfor %}
            
             <input type="submit" value="Submit" class="btn btn-lg btn-primary">
        </form>
    </div>
    
</body>
</html>

<script>
    // alert({{form.errors}})
</script>